NEXT_PUBLIC_SUPABASE_URL=https://xumpyumgpogqujowwees.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_eF43_pDsOXh70k5Jg4csMA_7TA-VLIo
TMDB_API_KEY= fa5086e753bdc888fb0e09de73f4f4f7
TMDB_API_READ_ACCESS_TOKEN= eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmYTUwODZlNzUzYmRjODg4ZmIwZTA5ZGU3M2Y0ZjRmNyIsIm5iZiI6MTc3ODkzNTE3NC41Mzc5OTk5LCJzdWIiOiI2YTA4NjU4NmUxZjJjMzIwYTU4YjdlY2QiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.pZvTi3MmFdOUoIRN3hpjp8NZY83FkFrpUwjFhkD3y9s